h1{
    color: red; text-align: center;
    font-size: 65px;
}
h2{
    color: blue;
}
h3{
    color: blueviolet;
    font-size: 40px;
}

h1{
    color: red;
    font-size: 70px;
    text-align: center;
    background-color: aqua;
}
h2{
    color: chartreuse;
    font-size: 60px;
}

h3{
    color: blue;
    font-size: 50px;
}
table{
    border-collapse: collapse;
    width: 60%;
    margin:  50px auto;
  
}
table thead{
    background-color: blue;
}
table footer{
    background-color: chocolate;

}
caption{
    color: red;
    font-size: 60px;
    text-align: center;
}
h5{
    color: cadetblue;
    font-size: 80px;
    text-align: center;
    background-color: crimson;
}

.youtubeContainer {
 width: 100%;
 height: 100%;
 margin: 0 auto;
}
.youtubeVideo{
    display: flex;
    gap: 10px;
}
marquee {
    background-color: black;
    color: white;
    padding: 10px 0;
    font-size: 30px;
}